# Name of this game
SAVEGAME_NAME="GameName"

# Shoud we run factorio_updater.sh?
UPDATE="yes"

# Run specific version (ingored if UPDATE=yes) - must be already downloaded!
FACTORIO_VERSION=0.17.15

# Do not use admin-list option - required if running pre-0.17 game.
DONOTUSEADMINLIST="no"

# Use Copy on Write (needs to be supported by underlying filesystem.
COPY_OPTS="--reflink=always"
